<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918214509737-7adfk4s2a1ja7444r6igf03b0oeuv8bd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918214509737-7adfk4s2a1ja7444r6igf03b0oeuv8bd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>918214509737-u76qonc96gf4u5tq77sqvhjpfbj1a58e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKkN378hgogHSKeHwohHReFTvpevZzcy0</string>
	<key>GCM_SENDER_ID</key>
	<string>918214509737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.Laxo</string>
	<key>PROJECT_ID</key>
	<string>laxo-v4-final-zkzoro</string>
	<key>STORAGE_BUCKET</key>
	<string>laxo-v4-final-zkzoro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918214509737:ios:b2aba3994627d3d35a95b8</string>
</dict>
</plist>